/* Corpo */

:root {
  --white: #fff;
  --black: #000;
  --black-100: rgba(0, 0, 0, 0.6);
  --green: #9bf0e1;
  --pupple: #7c26f8;
  --pupple-100: #6207e3;
  --gray: rgba(255,255,255, 0.5);
  --gray-100: #919496;
  --red: #ff4169;
  --body-font: Arial, Helvetica, sans-serif 
}

html, 
body, 
.home {
  height: 100%;
  overflow-x: hidden;
}


body {
  background: url(../img/dash.png),
  url(../img/noise.png),
  linear-gradient(50deg, var(--red), var(--pupple));
  background-attachment: fixed;
  font-family: var(--body-font);
}

/* Navegação */

nav.navbar-transparent {
  padding: 15px 0px;
  background: var(--black-100);
}


.navbar-light .navbar-nav .nav-link {
	color: var(--white);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--green);
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Button */

.landing {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.btn-pupple {
	background: var(--pupple);
}

.btn-pupple:hover {
	background: var(--pupple-100);
	color: var(--white);
}

.btn-white {
	border: 2px solid var(--white);
}

.btn-white:hover {
	background-color: var(--white);
	color: var(--black);
}

.social-button {
  border-radius: 50%;
}
/* Carousel */

.carousel-control-next, 
.carousel-control-prev {
	width: 5%;
}

/*  Contéudo principal */

.box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: var(--white);
}

#recursos {
	color: var(--white);
}

#servicos h2, h3 {
	color: var(var(--pupple));
}

#recursos h2 {
	color: var(--white);
}

#recursos h3 {
	color: var(--green);
}

.albuns {
	padding: 10px 0;
}

.rotate {
	-ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg); 
  transform: rotate(30deg);
	padding-left: 80px;
}

/* Footer */

footer {
	background: var(--black);
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: var(--gray-100);
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: var(--green);
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

/* Fonte */

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: var(--white);
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}