header {
  display: flex;
  justify-content: space-between;
  background-color: #7c5e99;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

img.logo {
  width: 60px;
  height: 60px;
  border-radius: 100%
}

nav {
  text-align: right
}

a {
  display: inline-block;
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.dot::before {
    content: "-";
    background-color: #F25A70;
    width: 20px;
    height: 210px;
    margin-right: 10px
}

#button {
  display: inline-block;
  background-color: #f25a70;
  box-shadow: 5px 5px 0px black;
  padding: 18px 20px;
  margin-right: 0
}
